In [1]:
name = "Logic First"

In [2]:
# Using Indexing
# str[start:stop:step]

In [3]:
print(name[3])

i

In [4]:
print(name[0:4])

Logi

In [5]:
print(name[:4])

Logi

In [6]:
print(name[1:8:2])

oi i

In [7]:
print(name[-2])

s

In [8]:
print(name[-5:-2])

Fir

In [9]:
x = slice(2,-2) # parameters similar to indexing slice(start,stop,step)
print(name[x])

gic Fir

In [23]:
cities = ["Chennai","Madurai","Trichy","Coimbatore","Salem"]
val = [3,5,6,3,2,9]
list1 = ["chennai",3,"Salem"]

In [11]:
print(cities[0])
print(val[2])
print(list1[1])
print(cities[:3])
print(cities[-2])
print(cities[::2])
print(cities[2:])

Chennai
6
3
['Chennai', 'Madurai', 'Trichy']
Coimbatore
['Chennai', 'Trichy', 'Salem']
['Trichy', 'Coimbatore', 'Salem']

# modify list

In [12]:
cities[2]="tirchy"
print(cities)

['Chennai', 'Madurai', 'tirchy', 'Coimbatore', 'Salem']

# appent

In [13]:
cities.append("erode")
print(cities)

['Chennai', 'Madurai', 'tirchy', 'Coimbatore', 'Salem', 'erode']

In [14]:
##insert in list
#list_name.insert(position,value)
cities.insert(3,'theni')
print(cities)

['Chennai', 'Madurai', 'tirchy', 'theni', 'Coimbatore', 'Salem', 'erode']

In [17]:
##delete list value using del
del cities[3]
print(cities)

['Chennai', 'Madurai', 'tirchy', 'Coimbatore', 'Salem', 'erode']

In [18]:
# remove list value using pop
delete=cities.pop()
print(delete+' has been deleted')
print(cities)

erode has been deleted
['Chennai', 'Madurai', 'tirchy', 'Coimbatore', 'Salem']

In [20]:
# remove list value using known value
cities.remove("Salem")
print(cities)

['Chennai', 'Madurai', 'tirchy', 'Coimbatore']

In [24]:
# get value in veriable then use a veriable to remove value
delete1="Madurai"
cities.remove(delete1)
print(cities)

['Chennai', 'Trichy', 'Coimbatore', 'Salem']

In [29]:
cities.append("Chennai")
delete2="Chennai"
cities.remove(delete2)
print(cities)

In [30]:
# temperry sorting 
print(sorted(cities))
print(sorted(val))

['Chennai', 'Chennai', 'Coimbatore', 'Coimbatore', 'Salem', 'Trichy']
[2, 3, 3, 5, 6, 9]

In [32]:
# permenent sort for list
cities.sort()
print(cities)

['Chennai', 'Chennai', 'Coimbatore', 'Coimbatore', 'Salem', 'Trichy']

In [35]:
# reverse the list values
cities.reverse()
print(cities)

['Trichy', 'Salem', 'Coimbatore', 'Coimbatore', 'Chennai', 'Chennai']

In [37]:
# WHILE LOOP 
letter=" "
while letter.isalpha():
    letter=input("enter a alphapet : ")
print(letter)

In [2]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import LabelEncoder 
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,precision_score,recall_score,f1_score
url="https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data"
column_names = ['age', 'workclass', 'fnlwgt', 'education', 'education-num',
                'marital-status', 'occupation', 'relationship', 'race',
                'sex', 'capital-gain', 'capital-loss', 'hours-per-week',
                'native-country', 'income']
df=pd.read_csv(url,header=None,names=column_names)
df.drop(['fnlwgt'],axis=1,inplace=True)
cat_cols= ['age', 'workclass', 'education',
                'marital-status', 'occupation', 'relationship', 'race',
                'sex','native-country', 'income']
le= LabelEncoder()
for col in cat_cols:
    le.fit(df[col])
    df[col]=le.transform(df[col])
x= df.drop(['income'],axis=1)
y= df['income']
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=42)
clf=RandomForestClassifier(n_estimators=50)
clf.fit(x_train,y_train)
y_test_pred=clf.predict(x_test)
print("test_accuracy_score: ",accuracy_score(y_test,y_test_pred))
print("test_precision_score: ",precision_score(y_test,y_test_pred))
print("test_recall_score: ",recall_score(y_test,y_test_pred))
print("test_f1_score: ",f1_score(y_test,y_test_pred))

test_accuracy_score:  0.8478861705394616
test_precision_score:  0.7027424094025465
test_recall_score:  0.6201382886776146
test_f1_score:  0.6588613406795225

In [3]:
df

,age,workclass,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,22,7,9,13,4,1,1,4,1,2174,0,40,39,0
1,33,6,9,13,2,4,0,4,1,0,0,13,39,0
2,21,4,11,9,0,6,1,4,1,0,0,40,39,0
3,36,4,1,7,2,6,0,2,1,0,0,40,39,0
4,11,4,9,13,2,10,5,2,0,0,0,40,5,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,10,4,7,12,2,13,5,4,0,0,0,38,39,0
32557,23,4,11,9,2,7,0,4,1,0,0,40,39,1
32558,41,4,11,9,6,1,4,4,0,0,0,40,39,0
32559,5,4,11,9,4,1,3,4,1,0,0,20,39,0
32560,35,5,11,9,2,4,5,4,0,15024,0,40,39,1